{{ define JoinForm }}
	<div class="join_form">
		<div class="join_form-welcome_text"
		<h3 style="font-size: 36px">J</h3>oin our mailing list to be
		notified of our progress.
		<br>
		<h5 style=text-decoration:steelblue;>ENTER EMAIL ADDRESS:</h5>
	<input form="email_address" placeholder="Enter email address..."
	name="email_address" class="email_input_field">
{{ end JoinForm }}
