<html>

<title>
	<h1> Finding YAWEI </h1>
</title>
<body>
<p>
	There is a distinct dichotemy which must be understood before YAWEI can
	be found. We must know what we are searching for, or else how would we
	know when we find it?
</p>
<br>
<p>
You must understand that YAWEI is MENT to be questioned. The whole idea of a
"one true god found only by a special few" is bullshit. It is ment that we, and
YAWEI, have a back and forth convo, until nothing remains unclear. This is the
central phenomenae underlying Devospeche as well, which is what made it so
difficult to commit to the written word. <link> <a href=ormaybemore.com/Devospat></a>
</p>
<br>
<p>
This idea continues to extrapolate to a macro-level: Once nothing remains
unclear between ourselves, and YAWEI in our hearts, we move on to "comparing" (for
lack of a better word) with each other, back and forth, until nothing remains
unclear. If it should be that we DO NOT reach such a state in this lifetime, and
clarity is not attained, THIS IS OK!! It is a valid path, and after this
lifetime, you will be able to return and try again; ettae rottattatto
infinitandato (again and again, over and over) until we do (or choose not to do).
<br>
<div>
<h3>I</h3>
<p>
t is important to understand this at a fundamental level: conversational
ambiguities must never be. All participants/parties invlolved in the
communication have an obligation to NEVEREVEREVER assume. At worst, flushing out
ambiguities has a O(log(log(n))) complexity, whereas building social systems based
on ambiguities has a complexity of O(N^exp(N)) (see
ormaybemore/show_your_work#complexities)
</p>
<p>
What this means, in practical terms, is that ambiguities MUST be flushed out
IMMEDIATELY.
</p>
<br>
<div>
<h3>

</h3>

</div>
</body>

</html>
