<html>

<head>
<title>
	<h1> Marriage </h1>
</title>
</head>
<body>

<div>
<h4> Understanding Mariage </h4>
<h5>T</h5>
<p>
he concept of marriage in its idealistic (para YAWEIEI) state may be a bit
different than the conceptualizations found in Christian mariage, although they
do share some similarities. The ceremonial aspects are mostly the same, howeveer
the goal is a bit different.
</p>
<br>
<h4>
	What it is <ul><b>NOT</b></ul>
</h4>
<p>
Where as in <link> <a
	href="ormaybemore.com/glossary#Devocammakka">Devocammakka</a></link> you
are vowing to remain "faithfull" for this lifetime, YAWEI ment it to be a more.

</p>
<br>
<h4>
	What it <ul><b>IS</b></ul>:
</h4>
<h5> At birth: </h5>
<p>
We come into this lifetime with our hearts (corra) with 1 "part"
which is full of ourselves (which includes yamatzahn fammi; ie birth parents,
siblings, etc).
</p>
<h5>The journey:</h5>
<p>
As we grow up, and continue along our journey, we come to a
state where our comma have 2 "parts" One for us, and one for YAWEI. ( <link>see
<a href=ormaybemore/findingYAWEI></a></link>) <br>
</p>
</div>
</body>

</html>
